<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>PK02207_ASM_Java4</display-name>
	<welcome-file-list>
		<welcome-file>LoadDataServlet.java</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index1.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>loginServlet</display-name>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>register_validate</display-name>
		<servlet-name>register_validate</servlet-name>
		<servlet-class>register_validate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register_validate</servlet-name>
		<url-pattern>/register_validate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoadDataServlet</display-name>
		<servlet-name>LoadDataServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.LoadDataServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadDataServlet</servlet-name>
		<url-pattern>/LoadData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerUser</display-name>
		<servlet-name>ManagerUser</servlet-name>
		<servlet-class>ManagerUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerUser</servlet-name>
		<url-pattern>/ManagerUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ManagerDanhMuc</display-name>
		<servlet-name>ManagerDanhMuc</servlet-name>
		<servlet-class>ManagerDanhMuc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerDanhMuc</servlet-name>
		<url-pattern>/ManagerDanhMuc</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DanhMucServlet</display-name>
		<servlet-name>DanhMucServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.DanhMucServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DanhMucServlet</servlet-name>
		<url-pattern>/DanhMucServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/UsersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SanPhamServlet</display-name>
		<servlet-name>SanPhamServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.SanPhamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SanPhamServlet</servlet-name>
		<url-pattern>/SanPhamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CartServlet</display-name>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EmailSendingServlet</display-name>
		<servlet-name>EmailSendingServlet</servlet-name>
		<servlet-class>com.fpltn.servlet.EmailSendingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailSendingServlet</servlet-name>
		<url-pattern>/EmailSendingServlet</url-pattern>
	</servlet-mapping>


	<!-- SMTP settings -->
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>hoangthanhlam333@gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>Lam22446688</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>EmailForm.jsp</welcome-file>
	</welcome-file-list>
</web-app>